In [1]:
from dotenv import load_dotenv
import os
load_dotenv()

True

In [2]:
import sys
import os

# Add the parent directory to the Python path
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

In [3]:
from datetime import datetime
import pandas as pd
from src.data_utils import load_and_process_taxi_data

from_year = 2023
# to_year = datetime.now().year
to_year = 2024
print(f"Download raw data from {from_year} to {to_year}")

rides = pd.DataFrame()
chunks = []
for year in range(from_year, to_year+1):

    rides_one_year = load_and_process_taxi_data(year)

    chunks.append(rides_one_year)
    break

# Concatenate all chunks at the end
rides = pd.concat(chunks, ignore_index=True)
print("Data loading complete.")

Download raw data from 2023 to 2024
File already exists for 2023-01.
Loading data for 2023-01...
Total records: 3,066,766
Valid records: 2,993,140
Records dropped: 73,626 (2.40%)
Successfully processed data for 2023-01.
File already exists for 2023-02.
Loading data for 2023-02...
Total records: 2,913,955
Valid records: 2,845,058
Records dropped: 68,897 (2.36%)
Successfully processed data for 2023-02.
File already exists for 2023-03.
Loading data for 2023-03...
Total records: 3,403,766
Valid records: 3,331,705
Records dropped: 72,061 (2.12%)
Successfully processed data for 2023-03.
File already exists for 2023-04.
Loading data for 2023-04...
Total records: 3,288,250
Valid records: 3,214,922
Records dropped: 73,328 (2.23%)
Successfully processed data for 2023-04.
File already exists for 2023-05.
Loading data for 2023-05...
Total records: 3,513,649
Valid records: 3,435,875
Records dropped: 77,774 (2.21%)
Successfully processed data for 2023-05.
File already exists for 2023-06.
Loading data for 2023-06...
Total records: 3,307,234
Valid records: 3,233,969
Records dropped: 73,265 (2.22%)
Successfully processed data for 2023-06.
File already exists for 2023-07.
Loading data for 2023-07...
Total records: 2,907,108
Valid records: 2,838,637
Records dropped: 68,471 (2.36%)
Successfully processed data for 2023-07.
File already exists for 2023-08.
Loading data for 2023-08...
Total records: 2,824,209
Valid records: 2,758,739
Records dropped: 65,470 (2.32%)
Successfully processed data for 2023-08.
File already exists for 2023-09.
Loading data for 2023-09...
Total records: 2,846,722
Valid records: 2,782,920
Records dropped: 63,802 (2.24%)
Successfully processed data for 2023-09.
File already exists for 2023-10.
Loading data for 2023-10...
Total records: 3,522,285
Valid records: 3,446,406
Records dropped: 75,879 (2.15%)
Successfully processed data for 2023-10.
File already exists for 2023-11.
Loading data for 2023-11...
Total records: 3,339,715
Valid records: 3,267,940
Records dropped: 71,775 (2.15%)
Successfully processed data for 2023-11.
File already exists for 2023-12.
Loading data for 2023-12...
Total records: 3,376,567
Valid records: 3,313,957
Records dropped: 62,610 (1.85%)
Successfully processed data for 2023-12.
Combining all monthly data...
Data loading and processing complete!
Data loading complete.

In [4]:
rides

             pickup_datetime  pickup_location_id
0        2023-01-01 00:32:10                 161
1        2023-01-01 00:55:08                  43
2        2023-01-01 00:25:04                  48
3        2023-01-01 00:03:48                 138
4        2023-01-01 00:10:29                 107
...                      ...                 ...
37463263 2023-12-31 23:04:34                 233
37463264 2023-12-31 23:08:15                  48
37463265 2023-12-31 23:16:15                 196
37463266 2023-12-31 23:21:58                 140
37463267 2023-12-31 23:10:47                 237

[37463268 rows x 2 columns]

In [5]:
rides.shape

(37463268, 2)

In [6]:
from src.data_utils import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)

In [7]:
ts_data.shape

(2277600, 3)

In [8]:
ts_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2277600 entries, 0 to 2277599
Data columns (total 3 columns):
 #   Column              Dtype
---  ------              -----
 0   pickup_hour         datetime64[ns]
 1   pickup_location_id  int16
 2   rides               int16
dtypes: datetime64[ns](1), int16(2)
memory usage: 26.1 MB

In [9]:
ts_data

                pickup_hour  pickup_location_id  rides
0       2023-01-01 00:00:00                   2      0
1       2023-01-01 01:00:00                   2      0
2       2023-01-01 02:00:00                   2      0
3       2023-01-01 03:00:00                   2      0
4       2023-01-01 04:00:00                   2      0
...                     ...                 ...    ...
2277595 2023-12-31 19:00:00                 263    188
2277596 2023-12-31 20:00:00                 263    198
2277597 2023-12-31 21:00:00                 263    232
2277598 2023-12-31 22:00:00                 263    160
2277599 2023-12-31 23:00:00                 263     95

[2277600 rows x 3 columns]

In [10]:
!pip install hopsworks==4.1.5
# !pip show hopsworks

Collecting hopsworks==4.1.5
  Downloading hopsworks-4.1.5-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pyhumps==1.6.1 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (1.6.1)
Requirement already satisfied: requests in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (2.32.3)
Requirement already satisfied: furl in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (2.1.3)
Requirement already satisfied: boto3 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (1.37.4)
Requirement already satisfied: pandas<2.2.0 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (2.1.4)
Requirement already satisfied: pyjks in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (20.0.0)
Requirement already satisfied: mock in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (5.1.0)
Requirement already satisfied: avro==1.11.3 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (1.11.3)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (2.0.29)
Requirement already satisfied: PyMySQL[rsa] in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (1.1.1)
Requirement already satisfied: tzlocal in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (5.3)
Requirement already satisfied: fsspec in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (2025.2.0)
Requirement already satisfied: retrying in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (1.3.4)
Requirement already satisfied: hopsworks_aiomysql==0.2.1 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks_aiomysql[sa]==0.2.1->hopsworks==4.1.5) (0.2.1)
Requirement already satisfied: opensearch-py<=2.4.2,>=1.1.0 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (2.4.2)
Requirement already satisfied: tqdm in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (4.67.1)
Requirement already satisfied: grpcio<2.0.0,>=1.49.1 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (1.70.0)
Requirement already satisfied: protobuf<5.0.0,>=4.25.4 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from hopsworks==4.1.5) (4.25.6)
Requirement already satisfied: urllib3>=1.26.18 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from opensearch-py<=2.4.2,>=1.1.0->hopsworks==4.1.5) (2.3.0)
Requirement already satisfied: six in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from opensearch-py<=2.4.2,>=1.1.0->hopsworks==4.1.5) (1.16.0)
Requirement already satisfied: python-dateutil in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from opensearch-py<=2.4.2,>=1.1.0->hopsworks==4.1.5) (2.9.0.post0)
Requirement already satisfied: certifi>=2022.12.07 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from opensearch-py<=2.4.2,>=1.1.0->hopsworks==4.1.5) (2025.1.31)
Requirement already satisfied: numpy<2,>=1.23.2 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from pandas<2.2.0->hopsworks==4.1.5) (1.26.4)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from pandas<2.2.0->hopsworks==4.1.5) (2025.1)
Requirement already satisfied: tzdata>=2022.1 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from pandas<2.2.0->hopsworks==4.1.5) (2025.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from requests->hopsworks==4.1.5) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from requests->hopsworks==4.1.5) (3.10)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from sqlalchemy->hopsworks==4.1.5) (4.12.2)
Requirement already satisfied: botocore<1.38.0,>=1.37.4 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from boto3->hopsworks==4.1.5) (1.37.4)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from boto3->hopsworks==4.1.5) (1.0.1)
Requirement already satisfied: s3transfer<0.12.0,>=0.11.0 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from boto3->hopsworks==4.1.5) (0.11.3)
Requirement already satisfied: orderedmultidict>=1.0.1 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from furl->hopsworks==4.1.5) (1.0.1)
Requirement already satisfied: javaobj-py3 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from pyjks->hopsworks==4.1.5) (0.4.4)
Requirement already satisfied: pyasn1>=0.3.5 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from pyjks->hopsworks==4.1.5) (0.6.1)
Requirement already satisfied: pyasn1-modules in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from pyjks->hopsworks==4.1.5) (0.4.1)
Requirement already satisfied: pycryptodomex in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from pyjks->hopsworks==4.1.5) (3.21.0)
Requirement already satisfied: twofish in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from pyjks->hopsworks==4.1.5) (0.3.0)
Requirement already satisfied: cryptography in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from PyMySQL[rsa]->hopsworks==4.1.5) (44.0.2)
Requirement already satisfied: cffi>=1.12 in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from cryptography->PyMySQL[rsa]->hopsworks==4.1.5) (1.17.1)
Requirement already satisfied: pycparser in /opt/anaconda3/envs/NYC_taxi/lib/python3.11/site-packages (from cffi>=1.12->cryptography->PyMySQL[rsa]->hopsworks==4.1.5) (2.22)
Downloading hopsworks-4.1.5-py3-none-any.whl (640 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 640.5/640.5 kB 8.4 MB/s eta 0:00:00
Installing collected packages: hopsworks
  Attempting uninstall: hopsworks
    Found existing installation: hopsworks 4.1.8
    Uninstalling hopsworks-4.1.8:
      Successfully uninstalled hopsworks-4.1.8
Successfully installed hopsworks-4.1.5

In [11]:
import hopsworks

api_key = os.getenv('HOPSWORKS_API_KEY')  
project_name = os.getenv('HOPSWORKS_PROJECT_NAME')  

# pip install confluent-kafka
# Initialize connection to Hopsworks  
project = hopsworks.login(  
    api_key_value=api_key,  
    project=project_name  
)  
print(f"Successfully connected to Hopsworks project: {project_name}")

2025-03-05 19:57:21,378 INFO: Initializing external client
2025-03-05 19:57:21,378 INFO: Base URL: https://c.app.hopsworks.ai:443
2025-03-05 19:57:22,254 INFO: Python Engine initialized.

Logged in to project, explore it here https://c.app.hopsworks.ai:443/p/1215664
Successfully connected to Hopsworks project: siddharth_adhikari

In [12]:
feature_store = project.get_feature_store()

In [13]:
FEATURE_GROUP_NAME = "time_series_hourly_feature_group"
FEATURE_GROUP_VERSION = 1

In [14]:
feature_group = feature_store.get_feature_group(
    name=FEATURE_GROUP_NAME,
    version=FEATURE_GROUP_VERSION,
   
)

In [ ]:
feature_group.insert(ts_data, write_options = {"wait_for_job": False})

Uploading Dataframe: 28.55% |▎| Rows 650336/2277600 | Elapsed Time: 00:58 | Rema

In [16]:
#pip install confluent-kafka

In [17]:
df_memory_mb = rides.memory_usage(deep=True).sum() / (1024 * 1024)  
print(f"DataFrame size: {df_memory_mb:.2f} MB")

DataFrame size: 857.47 MB